In [2]:
import pandas as pd

In [30]:
passw = '100pinkElephants'
df_bikes=pd.read_sql_table(table_name='dynamic_bikes', con='mysql://BikesMasterUser:100pinkElephants@dublinbikes-chen-diarmuid-louis.cxt07zwifclj.us-west-2.rds.amazonaws.com/dublinbikes')

In [3]:
passw = '100pinkElephants'
df_weather=pd.read_sql_table(table_name='weather', con='mysql://BikesMasterUser:100pinkElephants@dublinbikes-chen-diarmuid-louis.cxt07zwifclj.us-west-2.rds.amazonaws.com/dublinbikes')

In [23]:
df_weather.head()

,dt,temp,pressure,humidity,temp_min,temp_max,wind_speed,wind_deg,description,icon,main
0,1521811800,48.20,994,66,48.20,48.20,12.75,250,proximity shower rai,09d,Rain
1,1521837000,43.83,995,93,42.80,44.60,5.82,60,light rain,10n,Rain
2,1521847800,41.00,998,86,41.00,41.00,3.36,90,light rain,10n,Rain
3,1521886967,42.97,1012,100,42.97,42.97,10.20,345,broken clouds,04d,Clouds
4,1521896400,48.20,1004,96,48.20,48.20,6.93,320,broken clouds,04d,Clouds

In [29]:
df_old_weather = pd.read_csv('dublin_weather.csv')

In [30]:
df_bikes = pd.read_csv('bikesandweather.csv')

In [31]:
df_old_weather.head()
df_old_weather['temp']=df_old_weather['main.temp']
df_old_weather['temp_min']=df_old_weather['main.temp_min']
df_old_weather['temp_max']=df_old_weather['main.temp_max']
df_old_weather['pressure']=df_old_weather['main.pressure']
df_old_weather['wind_speed']=df_old_weather['wind.speed']
df_old_weather['wind_deg']=df_old_weather['wind.deg']
df_old_weather['description']=df_old_weather['weather.description']
df_old_weather['icon']=df_old_weather['weather.icon']
df_old_weather['main']=df_old_weather['weather.main']

In [32]:
df_wzz = df_old_weather[['dt', 'temp', 'temp_min', 'temp_max', 'pressure', 'wind_speed', 'wind_deg', 'description', 'icon', 'main']]

In [33]:
weather = df_weather.append(df_wzz)

In [9]:
df_bikes.shape

(313308, 19)

In [87]:
weather.shape[0]

2305

In [36]:
df_bikes['time']=df_bikes['time']//1000

In [37]:
df_bikes['time']=df_bikes['time']//3600

In [104]:
cols=['description', 'dt',
       'humidity', 'icon', 'main', 'pressure', 'temp', 'temp_max', 'temp_min',
       'wind_deg', 'wind_speed']
for index, row in weather.iterrows():
    
    time = row['dt']
    
    
    if df_bikes.loc[df_bikes['time']==time, cols].shape[0] != 0:
        for col in cols:
            df_bikes.loc[df_bikes['time']==time, col] = row[col]

In [103]:
df_bikes['description'].unique()

array(['broken clouds', 'scattered clouds', 'light shower snow',
       'overcast clouds', 'shower snow', 'proximity shower rain',
       'light snow', 'snow', 'mist', 'light intensity drizzle',
       'light rain', 'fog', 'light intensity drizzle rain',
       'light intensity shower rain', 'few clouds', 'moderate rain', 0.0], dtype=object)

In [106]:
df_bikes.head(1000)

,Unnamed: 0,index,time,status,number,bike_stands,available_bike_stands,available_bikes,description,dt,humidity,icon,main,pressure,temp,temp_max,temp_min,wind_deg,wind_speed
0,0,0.0,422156,OPEN,42,30,2,28,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
1,1,1.0,422156,OPEN,30,20,20,0,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
2,2,2.0,422156,OPEN,54,33,33,0,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
3,3,3.0,422156,OPEN,56,40,32,8,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
4,4,4.0,422156,OPEN,6,20,14,6,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
5,5,5.0,422156,OPEN,18,30,21,9,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
6,6,6.0,422156,OPEN,32,30,21,9,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
7,7,7.0,422156,OPEN,52,32,32,0,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
8,8,8.0,422156,OPEN,48,40,13,27,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
9,9,9.0,422156,OPEN,13,30,30,0,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
10,10,10.0,422156,OPEN,43,30,0,30,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
11,11,11.0,422156,OPEN,81,40,19,21,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
12,12,12.0,422156,OPEN,31,20,20,0,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
13,13,13.0,422156,OPEN,98,30,30,0,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
14,14,14.0,422156,OPEN,14,30,20,10,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
15,15,15.0,422156,OPEN,1,31,18,13,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
16,16,16.0,422156,OPEN,23,30,4,26,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
17,17,17.0,422156,OPEN,68,40,38,2,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
18,18,18.0,422156,OPEN,74,30,2,28,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
19,19,19.0,422156,OPEN,87,38,23,15,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
20,20,20.0,422156,OPEN,84,30,2,28,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
21,21,21.0,422156,OPEN,90,40,38,2,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
22,22,22.0,422156,OPEN,11,30,28,2,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
23,23,23.0,422156,OPEN,17,20,20,0,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
24,24,24.0,422156,OPEN,45,29,0,29,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
25,25,25.0,422156,OPEN,72,31,18,13,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
26,26,26.0,422156,OPEN,63,35,17,18,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
27,27,27.0,422156,OPEN,91,30,3,27,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
28,28,28.0,422156,OPEN,99,30,10,20,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
29,29,29.0,422156,OPEN,9,24,23,1,broken clouds,422156.0,NaN,04n,Clouds,1024.0,272.58,273.15,272.15,80.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,970,970.0,422158,OPEN,78,40,24,16,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
971,971,971.0,422158,OPEN,2,20,9,11,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
972,972,972.0,422158,OPEN,75,40,5,35,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
973,973,973.0,422158,OPEN,26,20,17,3,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
974,974,974.0,422158,OPEN,65,40,40,0,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
975,975,975.0,422158,OPEN,15,16,11,5,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
976,976,976.0,422158,OPEN,86,38,1,37,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
977,977,977.0,422158,OPEN,35,30,22,8,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
978,978,978.0,422158,OPEN,10,16,14,2,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
979,979,979.0,422158,OPEN,100,25,8,17,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
980,980,980.0,422158,OPEN,24,20,5,15,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
981,981,981.0,422158,OPEN,64,40,33,7,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
982,982,982.0,422158,OPEN,85,35,9,26,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
983,983,983.0,422158,OPEN,33,23,10,13,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
984,984,984.0,422158,OPEN,44,30,6,24,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
985,985,985.0,422158,OPEN,89,40,35,5,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
986,986,986.0,422158,OPEN,57,23,22,1,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
987,987,987.0,422158,OPEN,80,40,13,27,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
988,988,988.0,422158,OPEN,41,20,16,4,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
989,989,989.0,422158,OPEN,3,20,18,2,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
990,990,990.0,422158,OPEN,46,35,29,6,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
991,991,991.0,422158,OPEN,40,21,21,0,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
992,992,992.0,422158,OPEN,29,29,29,0,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
993,993,993.0,422158,OPEN,70,40,19,21,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
994,994,994.0,422158,OPEN,28,30,8,22,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
995,995,995.0,422158,OPEN,39,20,5,15,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
996,996,996.0,422158,OPEN,83,40,15,25,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
997,997,997.0,422158,OPEN,92,40,19,21,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
998,998,998.0,422158,OPEN,21,30,4,26,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0
999,999,999.0,422158,OPEN,88,30,23,7,scattered clouds,422158.0,NaN,03n,Clouds,1024.0,272.72,273.15,272.15,50.0,6.0

In [47]:
weather.iloc[100]

description    light rain
dt                 423163
humidity               95
icon                  10n
main                 Rain
pressure             1016
temp                45.92
temp_max            45.92
temp_min            45.92
wind_deg               37
wind_speed          13.47
Name: 100, dtype: object

In [10]:
df_bikes.head()

,Unnamed: 0,index,time,status,number,bike_stands,available_bike_stands,available_bikes,description,dt,humidity,icon,main,pressure,temp,temp_max,temp_min,wind_deg,wind_speed
0,0,0.0,1519764287000,OPEN,42,30,2,28,0,0,0,0,0,0,0,0,0,0,0
1,1,1.0,1519764287000,OPEN,30,20,20,0,0,0,0,0,0,0,0,0,0,0,0
2,2,2.0,1519764287000,OPEN,54,33,33,0,0,0,0,0,0,0,0,0,0,0,0
3,3,3.0,1519764287000,OPEN,56,40,32,8,0,0,0,0,0,0,0,0,0,0,0
4,4,4.0,1519764287000,OPEN,6,20,14,6,0,0,0,0,0,0,0,0,0,0,0

In [54]:
for r in range(0, 2):
    item = weather.iloc[r]
    print(item)
    msk = [[df_bikes.time > item['dt'] - 3600] and [df_bikes.time < item['dt'] + 3600]]
    
    df_bikes[msk]['temp']=item.temp

description    proximity shower rai
dt                       1521811800
humidity                         66
icon                            09d
main                           Rain
pressure                        994
temp                           48.2
temp_max                       48.2
temp_min                       48.2
wind_deg                        250
wind_speed                    12.75
Name: 0, dtype: object

ValueError: Item wrong length 1 instead of 314780.

In [28]:
msk = [df_wzz.dt > 1000000000] and [df_wzz.dt < 2000000000]

In [29]:
df_wzz[msk[0]]

,dt,temp,temp_min,temp_max,pressure,wind_speed,wind_deg,description,icon,main
0,1514764800,277.15,277.15,277.15,990,11,240,broken clouds,04n,Clouds
1,1514768400,277.58,277.15,278.15,990,13,240,light rain,10n,Rain
2,1514772000,277.15,277.15,277.15,990,10,240,scattered clouds,03n,Clouds
3,1514775600,277.58,277.15,278.15,990,12,250,light intensity shower rain,09n,Rain
4,1514779200,277.58,277.15,278.15,990,9,240,scattered clouds,03n,Clouds
5,1514782800,278.15,278.15,278.15,989,10,240,broken clouds,04n,Clouds
6,1514786400,278.15,278.15,278.15,990,7,230,broken clouds,04n,Clouds
7,1514790000,277.58,277.15,278.15,990,6,230,broken clouds,04n,Clouds
8,1514793600,277.15,277.15,277.15,991,6,230,broken clouds,04n,Clouds
9,1514797200,277.15,277.15,277.15,991,6,240,broken clouds,04n,Clouds
10,1514800800,277.58,277.15,278.15,992,8,240,scattered clouds,03d,Clouds
11,1514804400,278.58,278.15,279.15,992,10,250,broken clouds,04d,Clouds
12,1514808000,279.58,279.15,280.15,993,13,260,broken clouds,04d,Clouds
13,1514811600,280.15,280.15,280.15,994,13,280,light intensity shower rain,09d,Rain
14,1514815200,280.28,279.15,281.15,996,13,280,light intensity shower rain,09d,Rain
15,1514818800,280.15,280.15,280.15,998,9,280,light intensity shower rain,09d,Rain
16,1514822400,280.15,280.15,280.15,999,11,280,broken clouds,04d,Clouds
17,1514826000,279.15,279.15,279.15,1001,9,280,few clouds,02n,Clouds
18,1514829600,278.72,278.15,279.15,1003,7,280,few clouds,02n,Clouds
19,1514833200,278.15,278.15,278.15,1005,6,260,few clouds,02n,Clouds
20,1514836800,278.15,278.15,278.15,1006,7,270,scattered clouds,03n,Clouds
21,1514840400,278.15,278.15,278.15,1007,7,260,scattered clouds,03n,Clouds
22,1514844000,277.15,277.15,277.15,1007,8,260,scattered clouds,03n,Clouds
23,1514847600,276.15,276.15,276.15,1008,7,260,scattered clouds,03n,Clouds
24,1514851200,276.72,276.15,277.15,1008,6,250,scattered clouds,03n,Clouds
25,1514854800,276.58,276.15,277.15,1008,5,250,broken clouds,04n,Clouds
26,1514858400,277.15,277.15,277.15,1008,5,240,broken clouds,04n,Clouds
27,1514862000,277.72,277.15,278.15,1007,3,210,broken clouds,04n,Clouds
28,1514865600,277.72,277.15,278.15,1006,2,160,broken clouds,04n,Clouds
29,1514869200,278.72,278.15,279.15,1005,4,150,broken clouds,04n,Clouds
...,...,...,...,...,...,...,...,...,...,...
2173,1522612800,277.58,277.15,278.15,1007,8,90,light rain,10n,Rain
2174,1522616400,277.58,277.15,278.15,1007,8,90,light rain,10n,Rain
2175,1522620000,277.15,277.15,277.15,1006,9,110,light rain,10n,Rain
2176,1522623600,276.58,276.15,277.15,1005,8,110,light rain,10n,Rain
2177,1522627200,277.15,277.15,277.15,1003,8,90,light rain,10n,Rain
2178,1522627200,277.15,277.15,277.15,1003,8,90,light rain,10n,Rain
2179,1522630800,276.15,276.15,276.15,1002,7,110,light rain,10n,Rain
2180,1522634400,276.58,276.15,277.15,1001,9,90,light rain,10n,Rain
2181,1522638000,276.15,276.15,276.15,999,10,90,light rain,10n,Rain
2182,1522641600,276.15,276.15,276.15,999,9,90,moderate rain,10n,Rain
2183,1522645200,276.15,276.15,276.15,996,10,80,light rain,10n,Rain
2184,1522648800,276.58,276.15,277.15,995,9,90,light rain,10n,Rain
2185,1522652400,276.15,276.15,276.15,994,9,90,light rain,10d,Rain
2186,1522656000,277.15,277.15,277.15,994,9,80,light rain,10d,Rain
2187,1522659600,277.15,277.15,277.15,993,9,80,light rain,10d,Rain
2188,1522663200,277.15,277.15,277.15,992,8,80,light rain,10d,Rain
2189,1522666800,277.54,277.15,278.15,990,8,70,light rain,10d,Rain
2190,1522670400,278.15,278.15,278.15,990,7,60,moderate rain,10d,Rain
2191,1522674000,278.15,278.15,278.15,989,7,60,light rain,10d,Rain
2192,1522677600,278.58,278.15,279.15,988,5,50,moderate rain,10d,Rain
2193,1522681200,279.58,279.15,280.15,988,4,40,moderate rain,10d,Rain
2194,1522684800,280.15,280.15,280.15,987,3,20,light rain,10d,Rain
2195,1522688400,280.15,280.15,280.15,987,2,360,fog,50d,Fog
2196,1522692000,280.15,280.15,280.15,987,2,350,fog,50d,Fog
2197,1522695600,280.15,280.15,280.15,987,3,360,fog,50d,Fog
2198,1522699200,279.72,279.15,280.15,987,2,20,light rain,10n,Rain
2199,1522702800,279.72,279.15,280.15,987,2,10,moderate rain,10n,Rain
2200,1522706400,279.66,279.15,280.15,987,2,360,light rain,10n,Rain
2201,1522710000,279.15,279.15,279.15,987,2,360,light rain,10n,Rain
2202,1522713600,279.15,279.15,279.15,987,2,40,mist,50n,Mist

In [8]:
weather = df_weather.append(df_wzz)

In [33]:
weather.head()

,description,dt,humidity,icon,main,pressure,temp,temp_max,temp_min,wind_deg,wind_speed
0,proximity shower rai,1521811800,66.0,09d,Rain,994,48.20,48.20,48.20,250,12.75
1,light rain,1521837000,93.0,10n,Rain,995,43.83,44.60,42.80,60,5.82
2,light rain,1521847800,86.0,10n,Rain,998,41.00,41.00,41.00,90,3.36
3,broken clouds,1521886967,100.0,04d,Clouds,1012,42.97,42.97,42.97,345,10.20
4,broken clouds,1521896400,96.0,04d,Clouds,1004,48.20,48.20,48.20,320,6.93

In [10]:
df_bikes.shape[0]

314586

In [12]:
from pandas.io import sql
from sqlalchemy import create_engine

In [45]:
df_weather.query('dt < 1521886967 & dt > 1521847600')

,dt,temp,pressure,humidity,temp_min,temp_max,wind_speed,wind_deg,description,icon,main
2,1521847800,41.0,998,86,41.0,41.0,3.36,90,light rain,10n,Rain

In [80]:
for col in weather.columns:
    df_bikes[col]=0
    df_bikes[col].astype('category')

In [81]:
df_bikes.columns

Index(['Unnamed: 0', 'index', 'time', 'status', 'number', 'bike_stands',
       'available_bike_stands', 'available_bikes', 'description', 'dt',
       'humidity', 'icon', 'main', 'pressure', 'temp', 'temp_max', 'temp_min',
       'wind_deg', 'wind_speed'],
      dtype='object')

In [107]:
df_bikes.to_csv('bikesandweather.csv')

In [10]:
df_bikes.time=df_bikes.time//1000

In [69]:
df_bikes.head(1)

,index,time,status,number,bike_stands,available_bike_stands,available_bikes,temo,description,dt,humidity,icon,main,pressure,temp,temp_max,temp_min,wind_deg,wind_speed
0,0.0,1519764287000,OPEN,42,30,2,28,None,0,0,0,0,0,0,0,0,0,0,0

In [70]:
df_weather.head(1)

,dt,temp,pressure,humidity,temp_min,temp_max,wind_speed,wind_deg,description,icon,main
0,1521811800,48.2,994,66,48.2,48.2,12.75,250,proximity shower rai,09d,Rain

In [ ]:
df_bikes.columns

In [ ]:
df_bikes.iloc[300000]

In [ ]:
df_bikes[time]=pd.to_datetime(df_bikes[time],)

In [55]:
import datetime as dt

In [57]:
df_bikes['time']=dt.datetime.fromtimestamp([df_bikes['time']/1000])[3]

TypeError: an integer is required (got type list)