In [238]:
import pandas as pd

In [2]:
passw = '100pinkElephants'
df_bikes=pd.read_sql_table(table_name='dynamic_bikes', con='mysql://BikesMasterUser:100pinkElephants@dublinbikes-chen-diarmuid-louis.cxt07zwifclj.us-west-2.rds.amazonaws.com/dublinbikes')

In [186]:
passw = '100pinkElephants'
df_weather=pd.read_sql_table(table_name='weather', con='mysql://BikesMasterUser:100pinkElephants@dublinbikes-chen-diarmuid-louis.cxt07zwifclj.us-west-2.rds.amazonaws.com/dublinbikes')

In [187]:
df_old_weather = pd.read_csv('dublin_weather.csv')

In [188]:
df_bikes = pd.read_csv('bikes.csv')

In [189]:
df_bikes = df_bikes.drop(['index', 'Unnamed: 0'], axis=1)

In [190]:
df_bikes['time']=df_bikes['time']//1000

In [191]:
df_bikes['dt']=pd.to_datetime(df_bikes['time'], unit='s')

In [193]:
df_bikes['hour']=df_bikes['dt'].dt.hour
df_bikes['day']=df_bikes['dt'].dt.dayofweek
df_bikes['month']=df_bikes['dt'].dt.month

In [194]:
df_bikes['time']=df_bikes['time']//3600

In [195]:

df_old_weather['temp']=df_old_weather['main.temp']
df_old_weather['temp_min']=df_old_weather['main.temp_min']
df_old_weather['humidity']=df_old_weather['main.humidity']
df_old_weather['temp_max']=df_old_weather['main.temp_max']
df_old_weather['pressure']=df_old_weather['main.pressure']
df_old_weather['wind_speed']=df_old_weather['wind.speed']
df_old_weather['wind_deg']=df_old_weather['wind.deg']
df_old_weather['description']=df_old_weather['weather.description']
df_old_weather['icon']=df_old_weather['weather.icon']
df_old_weather['main']=df_old_weather['weather.main']

In [196]:
df_wzz = df_old_weather[['dt', 'temp', 'humidity', 'temp_min', 'temp_max', 'pressure', 'wind_speed', 'wind_deg', 'description', 'icon', 'main']]

In [197]:
weather = df_weather.append(df_wzz)

In [198]:
weather['dt']=weather['dt']//3600

In [199]:
for col in weather.columns:
    df_bikes[col]=0
    df_bikes[col].astype('category')

In [200]:
df_bikes=df_bikes.drop('dt', axis=1)

In [201]:
cols=['description', 'dt',
       'humidity', 'icon', 'main', 'pressure', 'temp', 'temp_max', 'temp_min',
       'wind_deg', 'wind_speed']
for index, row in weather.iterrows():
    
    time = row['dt']
    
    
    if df_bikes.loc[df_bikes['time']==time, cols].shape[0] != 0:
        for col in cols:
            df_bikes.loc[df_bikes['time']==time, col] = row[col]

In [202]:
df_bikes.head()

,time,status,number,bike_stands,available_bike_stands,available_bikes,hour,day,month,description,humidity,icon,main,pressure,temp,temp_max,temp_min,wind_deg,wind_speed,dt
0,422156,OPEN,42,30,2,28,20,1,2,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0
1,422156,OPEN,30,20,20,0,20,1,2,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0
2,422156,OPEN,54,33,33,0,20,1,2,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0
3,422156,OPEN,56,40,32,8,20,1,2,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0
4,422156,OPEN,6,20,14,6,20,1,2,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0

In [55]:
df_bikes.description.unique()

array(['broken clouds', 'scattered clouds', 'light shower snow',
       'overcast clouds', 'shower snow', 'proximity shower rain',
       'light snow', 'snow', 'mist', 'light intensity drizzle',
       'light rain', 'fog', 'light intensity drizzle rain',
       'light intensity shower rain', 'few clouds', 'moderate rain', 0,
       'light intensity driz'], dtype=object)

In [203]:
df_bikes.to_csv('bikesandweather.csv')

In [57]:
df_bikes.shape

(325635, 17)

In [204]:
df_bikes = df_bikes[df_bikes.description!=0]

In [171]:
df_bikes.columns

Index(['time', 'status', 'number', 'bike_stands', 'available_bike_stands',
       'available_bikes', 'hour', 'day', 'description', 'humidity', 'icon',
       'main', 'pressure', 'temp', 'temp_max', 'temp_min', 'wind_deg',
       'wind_speed', 'dt'],
      dtype='object')

In [205]:
df_bikes.to_csv('bikesandweather.csv')

In [67]:
df_bikes=pd.read_csv('bikesandweather.csv')

In [69]:
df_bikes=df_bikes.drop('Unnamed: 0', axis=1)

In [206]:
df_bikes['target'] = df_bikes['available_bikes']-df_bikes['available_bike_stands']

In [207]:
df_bikes=df_bikes.drop(['available_bike_stands', 'available_bikes'], axis=1)

In [208]:
df_bikes=df_bikes.drop('time',axis=1)

In [209]:
import numpy as np
msk = np.random.rand(len(df_bikes)) < 0.8

In [210]:
df_train = df_bikes[msk]
df_test = df_bikes[~msk]

In [211]:
df_test.shape

(63338, 18)

In [72]:
Y=df_bikes.target

In [227]:
cols = [col for col in df_bikes.columns if col not in ['target', 'main', 'bike_stands', 'description', 'icon', 'status', 'time', 'dt']]

In [228]:
cols

['number',
 'hour',
 'day',
 'month',
 'humidity',
 'pressure',
 'temp',
 'temp_max',
 'temp_min',
 'wind_deg',
 'wind_speed']

In [229]:
from sklearn.ensemble import RandomForestRegressor

In [230]:
clf=RandomForestRegressor(max_depth=50).fit(df_train[cols], df_train['target'])

In [215]:
df_bikes.head()

,status,number,bike_stands,hour,day,month,description,humidity,icon,main,pressure,temp,temp_max,temp_min,wind_deg,wind_speed,dt,target
0,OPEN,42,30,20,1,2,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,26
1,OPEN,30,20,20,1,2,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-20
2,OPEN,54,33,20,1,2,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-33
3,OPEN,56,40,20,1,2,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-24
4,OPEN,6,20,20,1,2,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-8

In [231]:
predictions=clf.predict(df_test[cols])

In [232]:
g = predictions - df_test['target']

In [233]:
sum(g)/len(g)

0.041123487455913856

In [237]:
print(predictions[10500])
print(df_test.iloc[10500])

-16.0
status                CLOSED
number                   101
bike_stands               30
hour                       9
day                        5
month                      3
description    broken clouds
humidity                 100
icon                     04d
main                  Clouds
pressure                 990
temp                  273.15
temp_max              273.15
temp_min              273.15
wind_deg                  80
wind_speed                10
dt                    422241
target                   -16
Name: 53348, dtype: object

In [123]:
df_bikes['main']=df_bikes['main'].astype('category')

In [185]:
df_bikes.head(1000)

,status,number,bike_stands,hour,day,description,humidity,icon,main,pressure,temp,temp_max,temp_min,wind_deg,wind_speed,dt,target
0,OPEN,42,30,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,26
1,OPEN,30,20,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-20
2,OPEN,54,33,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-33
3,OPEN,56,40,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-24
4,OPEN,6,20,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-8
5,OPEN,18,30,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-12
6,OPEN,32,30,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-12
7,OPEN,52,32,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-32
8,OPEN,48,40,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,14
9,OPEN,13,30,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-30
10,OPEN,43,30,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,30
11,OPEN,81,40,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,2
12,OPEN,31,20,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-20
13,OPEN,98,30,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-30
14,OPEN,14,30,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-10
15,OPEN,1,31,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-5
16,OPEN,23,30,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,22
17,OPEN,68,40,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-36
18,OPEN,74,30,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,26
19,OPEN,87,38,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-8
20,OPEN,84,30,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,26
21,OPEN,90,40,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-36
22,OPEN,11,30,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-26
23,OPEN,17,20,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-20
24,OPEN,45,29,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,29
25,OPEN,72,31,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-5
26,OPEN,63,35,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,1
27,OPEN,91,30,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,24
28,OPEN,99,30,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,10
29,OPEN,9,24,20,1,broken clouds,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,422156.0,-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,OPEN,78,40,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-8
971,OPEN,2,20,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,2
972,OPEN,75,40,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,30
973,OPEN,26,20,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-14
974,OPEN,65,40,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-40
975,OPEN,15,16,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-6
976,OPEN,86,38,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,36
977,OPEN,35,30,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-14
978,OPEN,10,16,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-12
979,OPEN,100,25,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,9
980,OPEN,24,20,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,10
981,OPEN,64,40,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-26
982,OPEN,85,35,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,17
983,OPEN,33,23,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,3
984,OPEN,44,30,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,18
985,OPEN,89,40,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-30
986,OPEN,57,23,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-21
987,OPEN,80,40,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,14
988,OPEN,41,20,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-12
989,OPEN,3,20,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-16
990,OPEN,46,35,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-23
991,OPEN,40,21,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-21
992,OPEN,29,29,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-29
993,OPEN,70,40,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,2
994,OPEN,28,30,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,14
995,OPEN,39,20,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,10
996,OPEN,83,40,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,10
997,OPEN,92,40,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,2
998,OPEN,21,30,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,22
999,OPEN,88,30,22,1,scattered clouds,74,03n,Clouds,1024,272.72,273.15,272.15,50,6.0,422158.0,-16

In [143]:
df_bikes = df_bikes[np.isfinite(df_bikes)]

TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [150]:
df_bikes=df_bikes.drop(['humidity'], axis=1)

In [239]:
df_bikes=pd.read_csv('bikesandweather.csv')

In [241]:
df_bikes.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
time,422156,422156,422156,422156,422156
status,OPEN,OPEN,OPEN,OPEN,OPEN
number,42,30,54,56,6
bike_stands,30,20,33,40,20
available_bike_stands,2,20,33,32,14
available_bikes,28,0,0,8,6
hour,20,20,20,20,20
day,1,1,1,1,1
month,2,2,2,2,2
description,broken clouds,broken clouds,broken clouds,broken clouds,broken clouds
humidity,100,100,100,100,100
icon,04n,04n,04n,04n,04n
main,Clouds,Clouds,Clouds,Clouds,Clouds
pressure,1024,1024,1024,1024,1024
temp,272.58,272.58,272.58,272.58,272.58
temp_max,273.15,273.15,273.15,273.15,273.15
temp_min,272.15,272.15,272.15,272.15,272.15
wind_deg,80,80,80,80,80
wind_speed,6,6,6,6,6
dt,422156,422156,422156,422156,422156