In [1]:
import pandas as pd

In [2]:
passw = '100pinkElephants'
df_bikes=pd.read_sql_table(table_name='dynamic_bikes', con='mysql://BikesMasterUser:100pinkElephants@dublinbikes-chen-diarmuid-louis.cxt07zwifclj.us-west-2.rds.amazonaws.com/dublinbikes')

In [38]:
passw = '100pinkElephants'
df_weather=pd.read_sql_table(table_name='weather', con='mysql://BikesMasterUser:100pinkElephants@dublinbikes-chen-diarmuid-louis.cxt07zwifclj.us-west-2.rds.amazonaws.com/dublinbikes')

In [39]:
df_old_weather = pd.read_csv('dublin_weather.csv')

In [40]:
df_bikes = pd.read_csv('bikes.csv')

In [42]:
df_bikes = df_bikes.drop(['index', 'Unnamed: 0'], axis=1)

In [43]:
df_bikes['time']=df_bikes['time']//1000
df_bikes['time']=df_bikes['time']//3600

In [44]:

df_old_weather['temp']=df_old_weather['main.temp']
df_old_weather['temp_min']=df_old_weather['main.temp_min']
df_old_weather['humidity']=df_old_weather['main.humidity']
df_old_weather['temp_max']=df_old_weather['main.temp_max']
df_old_weather['pressure']=df_old_weather['main.pressure']
df_old_weather['wind_speed']=df_old_weather['wind.speed']
df_old_weather['wind_deg']=df_old_weather['wind.deg']
df_old_weather['description']=df_old_weather['weather.description']
df_old_weather['icon']=df_old_weather['weather.icon']
df_old_weather['main']=df_old_weather['weather.main']

In [45]:
df_wzz = df_old_weather[['dt', 'temp', 'humidity', 'temp_min', 'temp_max', 'pressure', 'wind_speed', 'wind_deg', 'description', 'icon', 'main']]

In [46]:
weather = df_weather.append(df_wzz)

In [47]:
weather['dt']=weather['dt']//3600

In [48]:
for col in weather.columns:
    df_bikes[col]=0
    df_bikes[col].astype('category')

In [49]:
cols=['description', 'dt',
       'humidity', 'icon', 'main', 'pressure', 'temp', 'temp_max', 'temp_min',
       'wind_deg', 'wind_speed']
for index, row in weather.iterrows():
    
    time = row['dt']
    
    
    if df_bikes.loc[df_bikes['time']==time, cols].shape[0] != 0:
        for col in cols:
            df_bikes.loc[df_bikes['time']==time, col] = row[col]

In [55]:
df_bikes.description.unique()

array(['broken clouds', 'scattered clouds', 'light shower snow',
       'overcast clouds', 'shower snow', 'proximity shower rain',
       'light snow', 'snow', 'mist', 'light intensity drizzle',
       'light rain', 'fog', 'light intensity drizzle rain',
       'light intensity shower rain', 'few clouds', 'moderate rain', 0,
       'light intensity driz'], dtype=object)

In [56]:
df_bikes.to_csv('bikesandweather.csv')

In [57]:
df_bikes.shape

(325635, 17)

In [58]:
df_bikes = df_bikes[df_bikes.description!=0]

In [61]:
df_bikes.columns

Index(['time', 'status', 'number', 'bike_stands', 'available_bike_stands',
       'available_bikes', 'description', 'dt', 'humidity', 'icon', 'main',
       'pressure', 'temp', 'temp_max', 'temp_min', 'wind_deg', 'wind_speed'],
      dtype='object')

In [60]:
df_bikes.to_csv('bikesandweather.csv')

In [67]:
df_bikes=pd.read_csv('bikesandweather.csv')

In [69]:
df_bikes=df_bikes.drop('Unnamed: 0', axis=1)

In [70]:
df_bikes['target'] = df_bikes['available_bikes']-df_bikes['available_bike_stands']

In [71]:
df_bikes=df_bikes.drop(['available_bike_stands', 'available_bikes'], axis=1)

In [85]:
import numpy as np
msk = np.random.rand(len(df_bikes)) < 0.8

In [105]:
df_train = df_bikes[msk]
df_test = df_bikes[~msk]

In [72]:
Y=df_bikes.target

In [106]:
cols = [col for col in df_bikes.columns if col not in ['target', 'main', 'description', 'icon', 'status']]

In [78]:
X=df_bikes[cols]

In [79]:
from sklearn.ensemble import RandomForestRegressor

In [108]:
clf=RandomForestRegressor(max_depth=50).fit(df_train[cols], df_train['target'])

In [109]:
predictions=clf.predict(df_test[cols])

In [119]:
df_test.head()

,time,status,number,bike_stands,description,dt,humidity,icon,main,pressure,temp,temp_max,temp_min,wind_deg,wind_speed,target
12,422156,OPEN,31,20,broken clouds,422156,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,-20
16,422156,OPEN,23,30,broken clouds,422156,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,22
18,422156,OPEN,74,30,broken clouds,422156,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,26
22,422156,OPEN,11,30,broken clouds,422156,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,-26
25,422156,OPEN,72,31,broken clouds,422156,100,04n,Clouds,1024,272.58,273.15,272.15,80,6.0,-5

In [118]:
print(predictions[60000])
print(df_test.iloc[60000])

-32.0
time               422522
status               OPEN
number                 58
bike_stands            40
description    light rain
dt                 422522
humidity               93
icon                  10n
main                 Rain
pressure              981
temp               280.15
temp_max           280.15
temp_min           280.15
wind_deg              130
wind_speed             11
target                -32
Name: 301346, dtype: object

In [123]:
df_bikes['main']=df_bikes['main'].astype('category')

In [148]:
df_bikes.head(1000)

Empty DataFrame
Columns: [Unnamed: 0, index, time, status, number, bike_stands, description, dt, humidity, icon, main, pressure, temp, temp_max, temp_min, wind_deg, wind_speed, target]
Index: []

In [143]:
df_bikes = df_bikes[np.isfinite(df_bikes)]

TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [150]:
df_bikes=df_bikes.drop(['humidity'], axis=1)